    <%= render 'homes/list' %>
    <main>
     <div class="container">
      <div class="row">
       <div class="mx-auto col-11 col-sm-10  col-lg-8 col-xl-6">
        <h1>Welcome to<i class="fas fa-book"></i>Bookers!!</h1>
        <p>in<i class="fas fa-book">Bookers,</i></p>
        <p>you can share and exchange your opinions , inpressions , and emotionsabout various books!</p>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary btn-lg btn-block btn-info" %>
        <%= link_to 'sign up',  new_user_registration_path, class: "btn btn-primary btn-lg btn-block btn-success" %>
       </div>
      </div>
     </div>
    </main>
    <footer>
     <p class="text-center">CopyRight Infratop.inc</p>
    </footer>
    